.chatBody {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chatBodyBubbleContainer {
    margin: 10px;
}

.chatBodyBubble {
    width: fit-content;
}

.recipient {
    background-color: green;
    color: white;
    float: left;
}

.sender {
    background-color: rgb(77, 113, 233);
    color: white;
    float: right;
}

.chatField {
    /* height: 10px; */
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* position: fixed;
    bottom: 50px; */
}
.chatBodyTextField {
    width: 80%;
}