.recipient {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    height: 50px;
    width: 100%;
}

.recipient:hover {
    background-color: rgb(65, 120, 230);
    color: white;
}

.recipient:active {
    background-color: purple;
    color: white;
}

.recipientName {
    color: black;
}