.chatField {
    /* height: 10px; */
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* position: fixed;
    bottom: 50px; */
}
.chatBodyTextField {
    width: 80%;
}